<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <div class="row">
      <!-- Column -->

      <!-- Column -->
      <!-- Column -->

      <!-- Column -->
  </div>
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Table -->
  <!-- ============================================================== -->
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
            <form [formGroup]="frmSearch" class="form-horizontal" (ngSubmit)="LoadData()" >
              <div class="panel panel-flat">
                <div class="panel-heading">
                  <h5 class="panel-title">Tìm kiếm</h5>
                </div>

                <div class="panel-body">
                  <div class="form-group">
                    <label class="col-lg-2 control-label" style="text-align:right ;">Họ tên:</label>
                    <div class="col-lg-6">
                      <div class="col-lg-12" >
                        <div class="col-lg-10 text-right" style="margin-left: 245px;top: 37px;">
                          <button type="submit" class="btn btn-primary" ><i class="icon-search4 position-right" ></i> Tìm kiếm</button>
                        </div>
                      </div>
                      <input formControlName="txt_hoten" type="text" class="form-control" placeholder="Họ tên">

                    </div>


                  </div>


                  </div>

                </div>

            </form>
              <div class="card-body">
                  <div class="d-md-flex">
                      <h4 class="card-title col-md-10 mb-md-0 mb-3 align-self-center">Quản lí tài khoản</h4>
                      <div class="col-md-2 ms-auto">





                      </div>
                  </div>
                  <div class="heading-elements">
                    <div class="heading-btn-group">
                      <a (click)="createModal()" class="btn btn-link btn-float has-text"><i
                          class="icon-plus22 text-primary"></i><span><button style="background-color: rgb(3, 135, 135);color: rgb(255, 255, 255);height: 50px;">Thêm người dùng</button></span></a>
                    </div>
                  </div>
                  <div class="table-responsive mt-5">
                      <table class="table stylish-table no-wrap">
                          <thead >
                              <tr>
                                <th>Họ tên</th>
                                <th>Giới tính</th>
                                 <th>Ngày sinh</th>
                                <th>Địa chỉ</th>
                                <th>Số điện thoại</th>
                                <th>Tên tài khoản</th>
                                <th>Trạng thái</th>
                                <th class="text-center">Hành động</th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let ur of list_users">
                              <td>{{ur.hoTen}}</td>
                              <td>{{ur.gioiTinh}}</td>
                              <td>{{ur.ngaySinh}}</td>
                              <td>{{ur.diaChi}}</td>
                              <td>{{ur.dienThoai}}</td>
                              <td>{{ur.taiKhoan}}</td>
                              <td><span class="label label-success">Hoạt động</span></td>
                              <td class="text-center">
                                <ul class="icons-list"style="list-style: none;">
                                  <li><a (click)="openUpdateModal(ur.maNguoiDung)"><i class="icon-trash" style="background-color: rgb(160, 165, 0);border: 1px solid black;"></i></a></li>
                                  <li><a (click)="onRemove(ur.maNguoiDung)"><i class="icon-trash" style="background-color: rgb(255, 0, 0);border: 1px solid black;"></i></a></li>
                                </ul>
                              </td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ============================================================== -->
  <!-- Table -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Recent blogss -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Recent blogss -->
  <!-- ============================================================== -->
</div><div *ngIf="showUpdateModal" class="modal fade" id="createUserModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Thêm thông tin người dùng</h5>
			</div>
			<hr>
			<form *ngIf="doneSetupForm" [formGroup]="frmUser" (ngSubmit)="OnSubmit(frmUser.value)"
				class="form-horizontal">
				<div class="modal-body" style="padding-left: 50px !important; padding-right:50px !important;">
					<div class="form-group">
						<label class="col-lg-3 control-label">Họ tên<span style="color:red ;">*</span></label>
						<div class="col-lg-9">
							<input formControlName="txt_hoten" type="text" class="form-control" placeholder="Họ tên">

						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Ngày sinh<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<input formControlName="txt_ngaysinh" type="date" class="form-control"
								placeholder="Ngày sinh">

						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Giới tính<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<label class="radio-inline">
								<input formControlName="txt_gioitinh" type="radio" class="styled" name="txt_gioitinh"
									checked="checked" value="Nam">
								Nam
							</label>

							<label class="radio-inline">
								<input formControlName="txt_gioitinh" type="radio" class="styled" name="txt_gioitinh"
									value="Nữ">
								Nữ
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Địa chỉ:</label>
						<div class="col-lg-9">
							<input formControlName="txt_diachi" type="text" class="form-control" placeholder="Địa chỉ">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Email:</label>
						<div class="col-lg-9">
							<input formControlName="txt_email" type="text" class="form-control" placeholder="Email">

						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Điện thoại:</label>
						<div class="col-lg-9">
							<input formControlName="txt_dienthoai" type="text" class="form-control"
								placeholder="Điện thoại">

						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Tài khoản<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<input formControlName="txt_taikhoan" type="text" class="form-control"
								placeholder="Tài khoản">

						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Mật khẩu<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<input formControlName="txt_matkhau" type="password" class="form-control"
								placeholder="Mật khẩu">

						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Nhập lại mật khẩu<span
								style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<input formControlName="txt_nhaplai_matkhau" type="password" class="form-control"
								placeholder="Nhập lại mật khẩu">

						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Loại quyền:</label>
						<div class="col-lg-9">
							<select formControlName="txt_loaiquyen" [(ngModel)]="loaiQuyen" class="LoaiQuyen">
								<option [value]="'Admin'">Admin</option>
								<option [value]="'User'">User</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Thông tin khác:</label>
						<div class="col-lg-9">
							<textarea formControlName="txt_thongtinkhac" rows="5" cols="5" class="form-control"
								placeholder="Nhập thông tin khác tại đây"></textarea>
						</div>
					</div>

				</div>
				<hr>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" (click)="closeModal()">Đóng</button>
					<button type="submit" class="btn btn-primary" [disabled]="frmUser.invalid">Lưu lại</button>
				</div>
			</form>
		</div>
	</div>
</div>
