<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="img/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span></span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="img/language.png" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">Spanis</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth">
            <a href="#"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./shop-grid.html">Shop</a></li>
            <li><a href="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">Shop Details</a></li>
                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                    <li><a href="./checkout.html">Check Out</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i>thangdang@gamil.com</li>
            <li>Miễn phí ship cho đơn hàng 99k đầu tiên</li>
        </ul>
    </div>
</div>

  <!-- Hero Section Begin -->
  <section class="hero">
      <div class="container">
          <div class="row">
              <div class="col-lg-3">
                  <div class="hero__categories">
                      <div class="hero__categories__all">
                          <i class="fa fa-bars"></i>
                          <span>Danh Sách Sản Phẩm</span>
                      </div>
                      <ul *ngFor="let dslsp of Dslsp">
                          <li ><a [routerLink]="['/danhsach',dslsp.maLoai]">{{dslsp.tenLoai}}</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-9">
                  <div class="hero__search">
                      <div class="hero__search__form">
                        <form action="#">

                          <input type="text" placeholder="Bạn cần tìm kiếm gì?" id="searchs">
                          <button type="submit" class="site-btn"><i class="fa fa-search"  (click)="search()"></i></button>
                      </form>
                      </div>
                      <div class="hero__search__phone">
                          <div class="hero__search__phone__icon">
                              <i class="fa fa-phone"></i>
                          </div>
                          <div class="hero__search__phone__text">
                              <h5>+84 353.866.145</h5>
                              <span>Hỗ trợ 24/7</span>
                          </div>
                      </div>
                  </div>
                  <div class="hero__item set-bg" data-setbg="../../../assets/img/hero/banner1.jpg">
                      <div class="hero__text">
                          <span>DECORA</span>
                          <h2>Chào mừng bạn<br>đến với cửa hàng<br /> </h2>
                          <p>Giảm 40% giá sản phẩm khi đến mua tại cửa hàng </p>
                          <a [routerLink]="['/shop']" class="primary-btn">Mua Ngay</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Hero Section End -->

  <!-- Categories Section Begin -->
  <section class="categories">
      <div class="container">
          <div class="row">
              <div class="categories__slider owl-carousel">
                  <div class="col-lg-3">
                      <div class="categories__item set-bg" data-setbg="../../../assets/img/categories/cat-1.jpg">
                          <h5><a href="#">Đồ Decor Phòng Khách</a></h5>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="categories__item set-bg" data-setbg="../../../assets/img/categories/cat-2.jpg">
                          <h5><a href="#">Đồ Decor Phòng Ngủ</a></h5>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="categories__item set-bg" data-setbg="../../../assets/img/categories/cat-3.jpg">
                          <h5><a href="#">Decor Tường</a></h5>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="categories__item set-bg" data-setbg="../../../assets/img/categories/cat-4.jpg">
                          <h5><a href="#">Đồ Cao Cấp</a></h5>
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="categories__item set-bg" data-setbg="../../../assets/img/categories/cat-5.jpg">
                          <h5><a href="#">Đồ Để Bàn</a></h5>
                      </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../../../assets/img/categories/cat-6.jpg">
                        <h5><a href="#">Mô Hình</a></h5>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Categories Section End -->

  <!-- Featured Section Begin -->
  <section class="featured spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-title">
                      <h2>Sản Phẩm Cửa Hàng</h2>
                  </div>
                  <div class="featured__controls">
                      <ul>
                          <li class="active" data-filter="*">Tất Cả</li>
                          <!-- <li data-filter=".oranges">Đồ Decor Phòng Khách</li>
                          <li data-filter=".fresh-meat">Đồ Decor Phòng Ngủ</li>
                          <li data-filter=".vegetables">Đồ Decor Tường</li>
                          <li data-filter=".fastfood">Đồ Decor Để Bàn</li>
                          <li data-filter=".fastfood">Đồ Cao Cấp</li>
                          <li data-filter=".fastfood">Mô Hình</li> -->
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row featured__filter">
              <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood" *ngFor="let sp of Dssp | paginate :{itemsPerPage: tablesize,
                currentPage: page,
                totalItems: count
              }">
                  <div class="featured__item">
                      <div class="featured__item__pic set-bg" data-setbg="">
                        <img src="{{sp.anh}}" alt="">
                          <ul class="featured__item__pic__hover">
                              <li><a href="#"><i class="fa fa-heart"></i></a></li>
                              <li><a [routerLink]="['/shop-detail',sp.maSP]"><i class="fa fa-retweet"></i></a></li>
                              <li><a href="#" (click)="_addToCart(sp)"><i class="fa fa-shopping-cart"></i></a></li>
                          </ul>
                      </div>
                      <div class="featured__item__text">
                        <h6>Mã Loại: {{sp.maLoai}}</h6>
                          <h6><a [routerLink]="['/shop-detail',sp.maSP]">{{sp.tenSP}}</a></h6>
                          <h5>{{sp.giaBan | currency : 'VND'}} VND</h5>
                      </div>
                  </div>
              </div>
              <tfoot>
              <tr >
                  <div style="width:300px;text-align: right;">
                    <pagination-controls
                    previousLabel="Quay lại"
                    nextLabel="Tiếp"
                    (pageChange)="dataChange($event)"></pagination-controls>
                  </div>
              </tr>
            </tfoot>
          </div>
      </div>
  </section>
  <!-- Featured Section End -->

  <!-- Banner Begin -->
  <div class="banner">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="banner__pic">
                      <img src="../../../assets/img/banner/banner-1.jpg" alt="">
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="banner__pic">
                      <img src="./../../assets/img/banner/banner-2.jpg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Banner End -->

  <!-- Latest Product Section Begin -->
  <section class="latest-product spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="latest-product__text">
                      <h4>Sản Phẩm Mới Nhất</h4>
                      <div class="latest-product__slider owl-carousel">
                          <div class="latest-prdouct__slider__item" >
                              <a href="#" class="latest-product__item" *ngFor="let spm of spmoi">
                                  <div class="latest-product__item__pic">
                                      <img src="{{spm.anh}}" alt="">
                                  </div>
                                  <div class="latest-product__item__text">
                                    <h6><a [routerLink]="['/shop-detail',spm.maSP]">{{spm.tenSP}}</a></h6>
                                      <span>{{spm.giaBan | currency : 'VND'}} VND</span>
                                  </div>
                              </a>


                          </div>
                          <div class="latest-prdouct__slider__item">
                              <a href="#" class="latest-product__item" *ngFor="let spm of spmoi">
                                <div class="latest-product__item__pic">
                                  <img src="{{spm.anh}}" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                <h6><a [routerLink]="['/shop-detail',spm.maSP]">{{spm.tenSP}}</a></h6>
                                  <span>{{spm.giaBan | currency : 'VND'}} VND</span>
                              </div>
                          </a>

                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="latest-product__text">
                      <h4>Sản Phẩm Theo Giá</h4>
                      <div class="latest-product__slider owl-carousel">
                          <div class="latest-prdouct__slider__item" >
                              <a href="#" class="latest-product__item" *ngFor="let spm of giaban">
                                <div class="latest-product__item__pic">
                                  <img src="{{spm.anh}}" alt="">
                              </div>
                              <div class="latest-product__item__text">
                                <h6><a [routerLink]="['/shop-detail',spm.maSP]">{{spm.tenSP}}</a></h6>
                                  <span>{{spm.giaBan | currency : 'VND'}} VND</span>
                              </div>
                          </a>

                          </div>
                          <div class="latest-prdouct__slider__item" >
                              <a href="#" class="latest-product__item" *ngFor="let spm of giaban">
                                   <div class="latest-product__item__pic">
                                    <img src="{{spm.anh}}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                  <h6><a [routerLink]="['/shop-detail',spm.maSP]">{{spm.tenSP}}</a></h6>
                                    <span>{{spm.giaBan + spm.donViTinh | currency : 'VND'}}</span>
                                </div>
                            </a>

                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="latest-product__text">
                      <h4>Sản Phẩm Còn Nhiều</h4>
                      <div class="latest-product__slider owl-carousel">
                          <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item" *ngFor="let spm of soluong">
                              <div class="latest-product__item__pic">
                               <img src="{{spm.anh}}" alt="">
                           </div>
                           <div class="latest-product__item__text">
                            <h6><a [routerLink]="['/shop-detail',spm.maSP]">{{spm.tenSP}}</a></h6>
                               <span>{{spm.giaBan | currency : 'VND'}} VND</span>
                           </div>
                       </a>
                          </div>
                          <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item" *ngFor="let spm of soluong">
                              <div class="latest-product__item__pic">
                               <img src="{{spm.anh}}" alt="">
                           </div>
                           <div class="latest-product__item__text">
                            <h6><a [routerLink]="['/shop-detail',spm.maSP]">{{spm.tenSP}}</a></h6>
                               <span>{{spm.giaBan | currency : 'VND'}} VND</span>
                           </div>
                       </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Latest Product Section End -->

  <!-- Blog Section Begin -->
  <section class="from-blog spad">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-title from-blog__title">
                      <h2>Tin tức phổ biến</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6" >
                  <div class="blog__item" *ngFor="let tintuc of Dstintuc">
                      <div class="blog__item__pic" >
                          <img src="{{tintuc.anhTt}}" alt="">
                      </div>
                      <div class="blog__item__text">
                          <ul>
                              <li><i class="fa fa-calendar-o"></i> May 4,2022</li>
                              <li><i class="fa fa-comment-o"></i> 5</li>
                          </ul>
                          <h5><a href="#">{{tintuc.tieude}}</a></h5>
                          <p>{{tintuc.noidung}}</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="blog__item" *ngFor="let tintuc of Dstintuc1">
                      <div class="blog__item__pic">
                          <img src="{{tintuc.anhTt}}" alt="">
                      </div>
                      <div class="blog__item__text">
                          <ul>
                              <li><i class="fa fa-calendar-o"></i> May 4,2022</li>
                              <li><i class="fa fa-comment-o"></i> 5</li>
                          </ul>
                          <h5><a href="#">{{tintuc.tieude}}</a></h5>
                          <p>{{tintuc.noidung}}</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="blog__item" *ngFor="let tintuc of Dstintuc2">
                      <div class="blog__item__pic">
                          <img src="{{tintuc.anhTt}}" alt="">
                      </div>
                      <div class="blog__item__text">
                          <ul>
                              <li><i class="fa fa-calendar-o"></i> May 4,2022</li>
                              <li><i class="fa fa-comment-o"></i> 5</li>
                          </ul>
                          <h5><a href="#">{{tintuc.tieude}}</a></h5>
                          <p>{{tintuc.noidung}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
