<!-- <div class="container-fluid">
 ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Danh sách đơn hàng</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><button style="background-color: beige;border: 1px solid rgb(202, 180, 180);"> Trang chủ</button> </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Danh sách đơn hàng</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            <div class="text-end upgrade-btn">

            </div>
        </div>
    </div>
  </div>
  <div class="row">
      <!-- Column -->

      <!-- Column -->
      <!-- Column -->

      <!-- Column -->
  </div>
  <!-- ============================================================== -->
  <!-- Sales chart -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Table -->
  <!-- ============================================================== -->
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-body">
                  <div class="d-md-flex">
                      <h4 class="card-title col-md-10 mb-md-0 mb-3 align-self-center">Quản lí đơn hàng</h4>
                      <div class="col-md-2 ms-auto">
                        <div class="col-lg-3">

                        </div>
                      </div>
                  </div>
                  <div class="heading-elements" aria-expanded="false"  *ngIf="user.role == 'Admin'">
                    <div class="heading-btn-group">
                      <a (click)="createModal()" class="btn btn-link btn-float has-text"><i
                          class="icon-plus22 text-primary"></i><span><button style="background-color: rgb(3, 135, 135);color: rgb(255, 255, 255);height: 50px;">Thêm đơn hàng</button></span></a>
                    </div>
                    <select name="" id="" (change)="sizeChange($any($event))" style="margin-left: 80%;">
                      <option *ngFor="let item of table_numberSize"  value="{{item}}">{{item}}</option>

                    </select>
                  </div>
                          <div class="panel-body">
                            <div class="form-group">
                              <label class="col-lg-2 control-label" style="text-align:right ;">Tên đơn hàng:</label>
                              <div class="col-lg-8">
                                <input formControlName="txt_hoten" type="text" class="form-control" placeholder="Tên đơn hàng">
                              </div>
                            </div>

                              <div class="col-lg-12" style="margin-left: 66%;margin-top: -54px;">
                                <div class="col-lg-10 text-left" [formGroup]="frmSearch" class="form-horizontal" (ngSubmit)="LoadData()" >
                                  <button type="submit" class="btn btn-primary"><i class="icon-search4 position-right"></i> Tìm kiếm</button>
                                </div>
                                </div>
                          </div>
                        </div>
                  <div class="row">
                    <div class=" .col-">
                      <table class="col-lg-12">
                          <thead >
                            <tr  style="border: 1px solid rgb(0, 0, 0);background-color: black;color: bisque">
                              <th  style="border: 1px solid rgb(255, 255, 255);" width="50px;">STT</th>
                              <th style="border: 1px solid rgb(255, 255, 255);">Mã đơn hàng</th>
                              <th style="border: 1px solid rgb(255, 255, 255);">Mã khách hàng</th>
                              <th style="border: 1px solid rgb(255, 255, 255);">Ngày đặt</th>
                              <th style="border: 1px solid rgb(255, 255, 255);">Trạng thái đơn hàng </th>
                              <th style="border: 1px solid rgb(255, 255, 255);" class="text-center">Hành động</th>
                            </tr>
                          </thead>
                          <tr style="border: 1px solid rgb(0, 0, 0);" *ngFor="let i = index let lp of list_product  | paginate :{itemsPerPage: tablesize,
                            currentPage: page,
                            totalItems: count

                          }">
                              <td style="border: 1px solid rgb(0, 0, 0);text-align: center;">{{ pageSize * (pageIndex - 1) + (i + 1)}}</td>
                              <td style="border: 1px solid rgb(0, 0, 0);text-align: center;">{{lp.maDonHang}}</td>
                              <td style="border: 1px solid rgb(0, 0, 0);">{{lp.maKhachHang }} </td>
                              <td style="border: 1px solid rgb(0, 0, 0);">{{lp.ngayDat }} </td>
                              <td style="border: 1px solid rgb(0, 0, 0);text-align: center;"*ngIf="lp.trangThaiDonHang==1"> Đang chờ xử lý </td>
                              <td style="border: 1px solid rgb(0, 0, 0);text-align: center;"*ngIf="lp.trangThaiDonHang==2"> Đang giao</td>
                              <td style="border: 1px solid rgb(0, 0, 0);text-align: center;"*ngIf="lp.trangThaiDonHang==3"> Đã nhận </td>
                              <td class="text-center" >
                                <ul class="icons-list" *ngIf="user.role == 'Admin'"  style="list-style: none;">
                                  <li><a [routerLink]="['/chitiethoadon',lp.maDonHang]"><i class="fa fa-retweet"></i></a></li>
                                  <li><a (click)="openUpdateModal(lp.maDonHang)"><i class=" icon-wrench"  style="background-color: rgb(160, 165, 0);border: 1px solid black;"></i></a></li>
                                  <li><a (click)="onRemove(lp.maDonHang)" ><i class="icon-trash"  style="background-color: rgb(255, 5, 5);border: 1px solid black;"></i></a></li>
                                </ul>
                              </td>
                            </tr>



                      </table>
                      <tfoot>
                        <tr >
                            <div style="width:300px;text-align: right;">
                              <pagination-controls
                              previousLabel="Quay lại"
                              nextLabel="Tiếp"
                              (pageChange)="dataChange($event)"></pagination-controls>
                            </div>
                        </tr>
                      </tfoot>
                  </div>
                </div>
              </div>
          </div>
      </div>



  <!-- ============================================================== -->
  <!-- Table -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Recent blogss -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Recent blogss -->
  <!-- ============================================================== -->

  <div *ngIf="showUpdateModal" class="modal fade" id="createModal" >
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">Thêm thông tin đơn hàng</h5>
        </div>
        <hr>
        <form *ngIf="doneSetupForm" [formGroup]="frmProduct" (ngSubmit)="OnSubmit(frmProduct.value)"
          class="form-horizontal">
          <div class="modal-body" style="padding-left: 50px !important; padding-right:50px !important;">
            <div class="form-group">
              <label class="col-lg-3 control-label">Ngày đặt hàng</label>
              <div class="col-lg-9">
                <input formControlName="txt_ngaydat" type="date" class="form-control" placeholder="Ngày đặt hàng">

              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Trạng thái đơn hàng<span style="color:red ;">*</span>:</label>
              <div class="col-lg-9">
                <select formControlName="txt_maloai" class="form-control">
                  <option value="" disabled selected>Chọn Trạng thái</option>
                  <option *ngFor="let lc of list_category" value="{{lc.trangThaiDonHang}}">{{lc.trangThaiDonHang}}</option>
                </select>

              </div>
            </div>
					</div>
				<hr>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" (click)="closeModal()">Đóng</button>
					<button type="submit" class="btn btn-primary" [disabled]="frmProduct.invalid">Lưu lại</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /large modal -->
